<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="card p-fluid">
              <h5>Filtros calendario</h5>
              <div class="p-formgrid grid">
                <div class="field col">
                  <label htmlFor="name2">Dependencias</label>
                  <p-dropdown  
                    [options]="dependencias" 
                    (onChange)="onChangeFiltroDependencias($event.value)" 
                    placeholder="Seleccione una dependencia" 
                    (onClear)="onClearDropdown()"
                    [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field col">
                  <label htmlFor="email2">Insumos</label>
                  <p-dropdown 
                    [options]="insumos" 
                    (onChange)="onChangeFiltroInsumos($event.value)" 
                    placeholder="Seleccione un insumo"
                    (onClear)="onClearDropdown()"
                    [showClear]="true"
                    >
                  </p-dropdown>
                </div>
              </div>
            </div>
                <full-calendar
                    [options]="calendarOptions"
                    [events]="calendarEvents"
                ></full-calendar>
        </div>
    </div>
    <p-dialog [(visible)]="infoUserDialog" header="Detalle de la reserva" [modal]="true" [style]="{width:'750px'}">
      <div class="p-fluid">
          <table class="p-datatable">
              <tbody>
                  <tr>
                      <td><strong>Id Reserva:</strong></td>
                      <td>{{ eventDetails?.idReserva }}</td>
                  </tr>
                  <tr>
                      <td><strong>Nombre reserva:</strong></td>
                      <td>{{ eventDetails?.title }}</td>
                  </tr>
                  <tr>
                      <td><strong>Nombre dependencia:</strong></td>
                      <td>{{ eventDetails?.dependencia }}</td>
                  </tr>
                  <tr>
                    <td><strong>N° de personas:</strong></td>
                    <td>{{ eventDetails?.NPersonas }}</td>
                  </tr>
                  <tr>
                    <td><strong>Comentarios:</strong></td>
                    <td>{{ eventDetails?.comentarios }}</td>
                  </tr>
                  <tr>
                      <td><strong>Insumos dependencia:</strong></td>
                      <td>{{ eventDetails?.insumosDependencia }}</td>
                  </tr>
                  <tr>
                      <td><strong>Horas seleccionadas:</strong></td>
                      <td>{{ eventDetails?.HorasSeleccionadas.join('; ') }}</td>
                  </tr>
                  <tr>
                    <td><strong>Fecha creación:</strong></td>
                    <td>{{ eventDetails?.fechaCreacion | date: 'dd-MM-yyyy'}}</td>
                  </tr>
                  <tr>
                      <td><strong>Solicitante:</strong></td>
                      <td>{{ eventDetails?.nombreSolicitante }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </p-dialog>
</div>