<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="card p-fluid">
              <h5>Filtros calendario</h5>
              <div class="p-formgrid grid">
                <div class="field col">
                  <label htmlFor="name2">Dependencias</label>
                  <p-dropdown  
                    [options]="dependencias" 
                    (onChange)="onChangeFiltroDependencias($event.value)" 
                    placeholder="Seleccione una dependencia" 
                    (onClear)="onClearDropdown()"
                    [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field col">
                  <label htmlFor="email2">Insumos</label>
                  <p-dropdown 
                    [options]="insumos" 
                    (onChange)="onChangeFiltroInsumos($event.value)" 
                    placeholder="Seleccione un insumo"
                    (onClear)="onClearDropdown()"
                    [showClear]="true"
                    >
                  </p-dropdown>
                </div>
              </div>
            </div>
                <full-calendar
                    [options]="calendarOptions"
                    [events]="calendarEvents"
                ></full-calendar>
        </div>
    </div>
    <p-dialog [(visible)]="infoUserDialog" header="Detalle de la reserva" [modal]="true" [style]="{width:'450px'}">
        <div class="p-grid p-dir-col">
          <div class="p-col">
            <p>Id Reserva:<b> {{ eventDetails?.idReserva }}</b></p>
          </div>
            <div class="p-col">
              <p>Nombre reserva:<b> {{ eventDetails?.title }}</b></p>
            </div>
            <div class="p-col">
              <p>Nombre dependencia:<b> {{ eventDetails?.dependencia }}</b></p>
            </div>
            <div class="p-col">
              <p>Insumos dependencia:<b> {{ eventDetails?.insumosDependencia }}</b></p>
            </div>
            <div class="p-col">
              <p>Horas seleccionadas:<b> {{ eventDetails?.HorasSeleccionadas.join('; ') }}</b></p>
            </div>
            <div class="p-col">
              <p>Solicitante:<b> {{ eventDetails?.nombreSolicitante }}</b></p>
            </div>
          </div>
    </p-dialog>
</div>