<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['Id', 'Nombres', 'Nombres', 'Apellidos', 'NombreUsuario', 'Email', 'RolId', 'Vigente']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="Id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administración de usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Id">Id <p-sortIcon field="Id"></p-sortIcon></th>
                        <th pSortableColumn="Nombres">Nombres <p-sortIcon field="Nombres"></p-sortIcon></th>
                        <th pSortableColumn="Apellidos">Apellidos <p-sortIcon field="Apellidos"></p-sortIcon></th>
                        <th pSortableColumn="NombreUsuario">Nombre de usuario <p-sortIcon field="NombreUsuario"></p-sortIcon></th>
                        <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
                        <th pSortableColumn="RolId">Rol <p-sortIcon field="RolId"></p-sortIcon></th>
                        <th pSortableColumn="Vigente">Vigente <p-sortIcon field="Vigente"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id usuario</span>
                            {{user.Id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nombres</span>
                            {{user.Nombres}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Apellidos</span>
                            {{user.Apellidos}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nombre de usuario</span>
                            {{user.NombreUsuario}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Email</span>
                            {{user.Email}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Rol</span>
                            {{user.RolId}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Vigente</span>
                            {{user.Vigente}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '550px'}" header="Editar usuario" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div *ngIf="loading; else contentTemplate" class="loading-overlay">
                    <p-progressBar mode="indeterminate" [style]="{'height': '8px'}"></p-progressBar>
                </div>
                <ng-template #contentTemplate>
                    <div class="field">
                        <label for="name">Rol</label>
                        <p-dropdown [options]="dropdownItemsRols" optionLabel="name" placeholder="Seleccione rol"
                [(ngModel)]="selectedRole" (onChange)="updateUserRole($event.value)">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="name">Nombres</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-id-card"></i>
                            <input type="text" pInputText id="Nombres" [(ngModel)]="user.Nombres" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.Nombres}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.Nombres">Name is required.</small>
                        </span>
                    </div>
                    <div class="field">
                        <label for="name">Apellidos</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-id-card"></i>
                            <input type="text" pInputText id="Apellidos" [(ngModel)]="user.Apellidos" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.Apellidos}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.Apellidos">Apellido is required.</small>
                        </span>
                    </div>
                    <div class="field">
                        <label for="name">Nombre de usuario</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input type="text" placeholder="Nombre de usuario" pInputText id="NombreUsuario" [(ngModel)]="user.NombreUsuario" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.NombreUsuario}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.NombreUsuario">Nombre de usuario is required.</small>
                        </span>
                    </div>
                    <div class="field">
                        <label for="name">Email</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-briefcase"></i>
                            <input type="text" pInputText id="Email" [(ngModel)]="user.Email" required  [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.Email}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.Email">Email is required.</small>
                        </span>
                    </div>
                </ng-template>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="" class="p-button-text" (click)="saveUser()" [disabled]="loading">
                    <span *ngIf="!loading">Save</span>
                    <span *ngIf="loading" class="custom-spinner">
                        <i class="pi pi-spin pi-spinner"></i>
                    </span>
                </button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">Are you sure you want to delete <b>{{user.Nombres}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
