<div *ngIf="mensajeAdvertencia" class="grid">
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Reservas ingresadas</span>
                    <div class="text-900 font-medium text-xl">{{countReserva}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i *ngIf="loading$ | async" class="pi pi-spin pi-spinner text-cyan-500 text-xl"></i>
                    <i *ngIf="!(loading$ | async)" class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Reservas ingresadas esta última semana</span>
                    <div class="text-900 font-medium text-xl">{{countReservaUltimaSemana}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i *ngIf="loading$ | async" class="pi pi-spin pi-spinner text-orange-500 text-xl"></i>
                    <i *ngIf="!(loading$ | async)" class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Usuarios activos en el sistema</span>
                    <div class="text-900 font-medium text-xl">{{usuariosActivos}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i *ngIf="loading$ | async" class="pi pi-spin pi-spinner text-cyan-500 text-xl"></i>
                    <i *ngIf="!(loading$ | async)" class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Evolución de ingreso de reservas</h5>
            <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </div>
</div>
<div *ngIf="!mensajeAdvertencia" class="grid">
    <div *ngIf="mensajeNoRegistrado" class="col-12">
        <p-card header="">
            <h4>Sistema de reserva de espacios para el Colegio del Verbo Divino</h4>
            <h5>Usuario no se encuentra registrado en la base de datos. Por favor contactese con el administrador!</h5>
        </p-card>
    </div>
    <div *ngIf="mensajeUsuarioNormal" class="col-12">
        <p-card header="">
            <h4>Sistema de reserva de espacios para el Colegio del Verbo Divino</h4>
            <h5>Bienvenido al sistema de reserva de espacios del Colegio Verbo Divino!</h5>
        </p-card>
    </div>
</div>