.small-button {
    font-size: 12px; // Tamaño de la fuente
    padding: 2px 4px; // Espaciado interno
  }
.small-button_limpiar {
    font-size: 18px; // Tamaño de la fuente
    padding: 2px 4px; // Espaciado interno
  }