.small-button {
    font-size: 12px; // Tamaño de la fuente
    padding: 2px 4px; // Espaciado interno
  }
.hora-ocupada {
    background-color: #ff8080; /* Cambia el color de fondo según sea necesario */
}